<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/add}" th:object="${student}" method="post">
    <div>
        <label for="firstname">Nom</label>
        <input type="text" id="firstname" th:field="*{firstName}">
    </div>
    <div>
        <label for="firstname">Prénom</label>
        <input type="text" id="lastname" th:field="*{lastName}">
    </div>
    <div>
        <label for="email">email</label>
        <input type="text" id="email" th:field="*{email}">
    </div>

    <div>
        <label for="age">Age</label>
        <input type="text" id="age" th:field="*{age}">
    </div>
    <button>Valider</button>
</form>


</body>
</html>